@import 'variables';
@import 'mixins';

.dropzone {
  display: table;
  overflow: hidden;
  height: 50%;
  padding: 0;
  text-align: center;
  border: 1px solid darken($muted, 10%);
  background-color: $muted;
  @include transition(background-color .3s);

  &:hover {
    background-color: $cool;
  }

  &--gif {
    position: absolute;
    left: 0;
    right: 0;

    &__landscape {
      position: relative;
      display: table-cell;
      vertical-align: middle;
    }
  }

  &--placeholder {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
    color: darken($muted, 20%);
    @include transition(color .3s);
  }
}
